<p>Ova aplikacija je izradjena za potrebe predmeta Razvoj programskih proizvoda, kao predispitna obaveza. 
    U ovoj aplikaciji se vodi evidencija o igracima koji igraju za odredjeni tim , nacionalnostima igraca kao i ligama kojima pripadaju odredjeni timovi.
    Svaki igrac ima svoja obelezija koja su id, ime, prezime, broj registracije, datum rodjenja, nacionalnost kojoj pripada i tim za koji igra.
    Svaka nacionalnost ima svoja obelezija koja su id, naziv i medjunarodnu skracenicu.
    Svaki tim ima svoja obelezija koja su id, naziv, datum kada je osnovan, sediste gde se nalazi kao i ligu kojoj pripada.
    Svaka liga ima svoja obelezija koja su id, naziv i oznaku.
      </p>
